In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Fremont_weather.txt')

In [3]:
df.head()

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58       42           74          22               2.95
1   Feb        61       45           78          26               3.02
2   Mar        65       48           84          25               2.34
3   Apr        67       50           92          28               1.02
4   May        71       53           98          35               0.48

In [4]:
df.tail()

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
7    Aug        77       59          102          43               0.03
8    Sep        77       57          103          40               0.17
9    Oct        73       54           96          34               0.81
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 6 columns):
month                12 non-null object
avg_high             12 non-null int64
avg_low              12 non-null int64
record_high          12 non-null int64
record_low           12 non-null int64
avg_precipitation    12 non-null float64
dtypes: float64(1), int64(4), object(1)
memory usage: 656.0+ bytes

In [6]:
# getting statistical data 
df.describe()

        avg_high    avg_low  record_high  record_low  avg_precipitation
count  12.000000  12.000000    12.000000   12.000000          12.000000
mean   68.583333  51.000000    91.333333   32.416667           1.265833
std     7.366488   6.060303    12.323911    8.240238           1.186396
min    58.000000  42.000000    73.000000   21.000000           0.000000
25%    63.250000  47.250000    82.500000   25.750000           0.155000
50%    69.000000  51.500000    94.000000   32.000000           0.915000
75%    75.500000  56.250000   102.250000   40.250000           2.395000
max    77.000000  59.000000   107.000000   44.000000           3.020000

In [7]:
# just need to know dtype
df.dtypes

month                 object
avg_high               int64
avg_low                int64
record_high            int64
record_low             int64
avg_precipitation    float64
dtype: object

In [8]:
# getting index
df.index

RangeIndex(start=0, stop=12, step=1)

In [9]:
# getting value
df.values

array([['Jan', 58, 42, 74, 22, 2.95],
       ['Feb', 61, 45, 78, 26, 3.02],
       ['Mar', 65, 48, 84, 25, 2.34],
       ['Apr', 67, 50, 92, 28, 1.02],
       ['May', 71, 53, 98, 35, 0.48],
       ['Jun', 75, 56, 107, 41, 0.11],
       ['Jul', 77, 58, 105, 44, 0.0],
       ['Aug', 77, 59, 102, 43, 0.03],
       ['Sep', 77, 57, 103, 40, 0.17],
       ['Oct', 73, 54, 96, 34, 0.81],
       ['Nov', 64, 48, 84, 30, 1.7],
       ['Dec', 58, 42, 73, 21, 2.56]], dtype=object)

In [10]:
# sorting values for record_high
df.sort_values('record_high',ascending = False)

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
5    Jun        75       56          107          41               0.11
6    Jul        77       58          105          44               0.00
8    Sep        77       57          103          40               0.17
7    Aug        77       59          102          43               0.03
4    May        71       53           98          35               0.48
9    Oct        73       54           96          34               0.81
3    Apr        67       50           92          28               1.02
2    Mar        65       48           84          25               2.34
10   Nov        64       48           84          30               1.70
1    Feb        61       45           78          26               3.02
0    Jan        58       42           74          22               2.95
11   Dec        58       42           73          21               2.56

In [11]:
# need to know average precipation >1
df[df['avg_precipitation']>1]

   month  avg_high  avg_low  record_high  record_low  avg_precipitation
0    Jan        58       42           74          22               2.95
1    Feb        61       45           78          26               3.02
2    Mar        65       48           84          25               2.34
3    Apr        67       50           92          28               1.02
10   Nov        64       48           84          30               1.70
11   Dec        58       42           73          21               2.56

In [12]:
# jun july and august weather
df[df['month'].isin(['Jun','Jul','Aug'])]

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
5   Jun        75       56          107          41               0.11
6   Jul        77       58          105          44               0.00
7   Aug        77       59          102          43               0.03

In [13]:
# adding another column ave day
df['Average_Day'] = (df.avg_high + df.avg_low)/2

In [14]:
df

,month,avg_high,avg_low,record_high,record_low,avg_precipitation,Average_Day
0,Jan,58,42,74,22,2.95,50.0
1,Feb,61,45,78,26,3.02,53.0
2,Mar,65,48,84,25,2.34,56.5
3,Apr,67,50,92,28,1.02,58.5
4,May,71,53,98,35,0.48,62.0
5,Jun,75,56,107,41,0.11,65.5
6,Jul,77,58,105,44,0.00,67.5
7,Aug,77,59,102,43,0.03,68.0
8,Sep,77,57,103,40,0.17,67.0
9,Oct,73,54,96,34,0.81,63.5
10,Nov,64,48,84,30,1.70,56.0
11,Dec,58,42,73,21,2.56,50.0

In [17]:
# rename columnsdf.rename(columns = {'avg_precipitation':'avg_rain'}, inplace=True
df.rename(columns = {'avg_precipitation':'ave_rain'},inplace = True)

In [18]:
df

   month  avg_high  avg_low  record_high  record_low  ave_rain  Average_Day
0    Jan        58       42           74          22      2.95         50.0
1    Feb        61       45           78          26      3.02         53.0
2    Mar        65       48           84          25      2.34         56.5
3    Apr        67       50           92          28      1.02         58.5
4    May        71       53           98          35      0.48         62.0
5    Jun        75       56          107          41      0.11         65.5
6    Jul        77       58          105          44      0.00         67.5
7    Aug        77       59          102          43      0.03         68.0
8    Sep        77       57          103          40      0.17         67.0
9    Oct        73       54           96          34      0.81         63.5
10   Nov        64       48           84          30      1.70         56.0
11   Dec        58       42           73          21      2.56         50.0

In [19]:
# saving this file using to_csv and file name
df.to_csv('Fremont_weather.txt')